<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birthday Message</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main_signup">
        <% if (UserMessage) { %>
            <p class="error"><%= UserMessage.message %></p>
        <% } %> 
        <h2>want us to wish you <br>on your birthday?</h2>
        <form action="/register" method="POST">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" value=""><br>
            <label for="name">Email:</label><br>
            <input type="email" id="email" name="email" placeholder="johndoe@gmail.com"><br>
            <label for="DOB">Date of birth:</label><br>
            <input type="date" id="DOB" name="DOB"><br><br>
            <input type="submit" value="Submit">
          </form><br><br>
          <a href="mailto: obayorit@gmail.com" style="text-decoration: none;" onMouseOver="this.style.color='#ff8800'" onMouseOut="this.style.color='#00F'">Contact us</a>
    </div>
</body>
</html>